manifest {
    name = 'popinsights'
    description = 'Pipeline for plotting hg19-aligned VCFs against 1000genomes population data for PCA population structure plot'
    version = '1.0.0'
    nextflowVersion = '>=22.10.0'
    author = 'Alaina Hardie'
}

// Load base config
includeConfig 'conf/base.config'